{% if quote %}
	<div id="quote_of_the_day" class="offset-3 col-6">
		<figure>
		    <blockquote {%if quote.source_link %}cite="{{quote.source_link}}"{% endif %}>
		        <p class="fs-5">
		        	{{quote.quote_text|linebreaksbr}}
		        </p>
		    </blockquote>
		    <figcaption class="text-end">
		    	— {% if quote.attributed_to.bio_link%}<a target="_blank" href="{{quote.attributed_to.bio_link}}">{{ quote.attributed_to.name }}</a>{%else%}{{ quote.attributed_to.name }}{%endif%} {%if quote.attributed_to.authority_data%}<a target="_blank" href="{{quote.attributed_to.authority_data}}">
		    		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="width: 1em; height: 1em; display: inline-block; vertical-align: -.125em; padding: 0;">
		    			<path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
					</svg></a>{% endif %}, <cite>{{quote.source}}</cite><br>
		    	{{quote.attributed_to.description}}
		    </figcaption>
		</figure>
	</div>
{% endif %}
